@using MakerPlatform.Utility;
@using MakerPlatform.Models;
@{
    string type = (string)ViewData["type"];
    List<Article> activityForecastArticles = (List<Article>)ViewData["activityForecastArticles"];
    List<Article> wonderfulActivityArticles = (List<Article>)ViewData["wonderfulActivityArticles"];
    
}

<style>

    .section{
        min-height:300px;
    }
    .titleStyle{
        font-size:20px;
        color:black;
        margin:20px auto;
    }
    .contentStyle{
        font-size:18px;
        color:black;
        margin-top:10px;
    }
    .hspace {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
</style>
<div class="container">
    <div class="row section">
        <div class="col-md-12">
            <h3>活动预告</h3>
        </div>

        <div class="col-md-8 titleStyle">
            <a href="/Article/Add?articletype=@Common.ActivityForecast" class="btn btn-default">发布活动</a>
        </div>
        <div class="col-md-2 titleStyle">发布时间</div>
        <div class="col-md-2 titleStyle">操作</div>

        @{
    foreach (var article in activityForecastArticles)
    {
                <div class="col-md-8 contentStyle"><a href="/Article/ShowContent?id=@article.Id">@article.SubTitle</a> </div>
                <div class="col-md-2 contentStyle">@article.Pubtime</div>
                <div class="col-md-2 contentStyle"><a href="/Article/Edit?id=@article.Id">编辑</a></div>
    }
}


    </div>
    
    <div class="row section">
        <div class="col-md-12">
            <h3>精彩活动</h3>
        </div>
        <div class="col-md-8 titleStyle">
            <a href="/Article/Add?articletype=@Common.WonderfulActivity" class="btn btn-default">发布活动</a>
        </div>
        <div class="col-md-2 titleStyle">发布时间</div>
        <div class="col-md-2 titleStyle">操作</div>

        @{
    foreach (var article in wonderfulActivityArticles)
    {
                <div class="col-md-8 contentStyle"><a href="/Article/ShowContent?id=@article.Id">@article.SubTitle</a> </div>
                <div class="col-md-2 contentStyle">@article.Pubtime</div>
                <div class="col-md-2 contentStyle"><a href="/Article/Edit?id=@article.Id">编辑</a></div>
    }
}
    </div>

    
</div>