@{
    string type = (string)ViewData["type"];
    string articletype = (string)ViewData["articletype"];
}

<style>
    .displaynone{
        display:none;
    }
</style>
<div class="container">
    <div class="row">
        <div id="nothing" class="displaynone">
            <h1 class="text-center">暂无活动内容</h1>
        </div>
        <div class="col-lg-12 displaynone" id="zxqyhd">

            <!-- Project Details Go Here -->
            <h2 class="text-center">中小企业活动月</h2>
            <p class="item-intro text-center">
                关于举办2016厦门市中小企业服务月系列活动之
                “中小企业如何借助双创实现产业升级”培训论坛的通知
            </p>
            <div class="text-left">
                <span style="font-size:20px;">
                    &nbsp;<br />
                    围绕&ldquo;服务中小企 创新赢未来&rdquo;这一主题，根据2016年中小企业服务月活动安排，开展&ldquo;中小企业如何借助双创实现产业升级&rdquo;，助力中小微企业产业升级和产学研用协同创新，现将相关事项通知如下：<br />
                    &nbsp;&nbsp;&nbsp; <strong>一、主承办单位</strong><br />
                    &nbsp;&nbsp;&nbsp; 主办单位：厦门市经济与信息化局、厦门市科学技术局、厦门市财政局<br />
                    &nbsp;&nbsp;&nbsp; 承办单位：厦门市中小企业服务中心、厦门中小在线、厦门市中小企业服务行业协会、厦门市众创空间产业协会、厦门市派美特科技有限公司<br />
                    &nbsp;&nbsp;&nbsp; 协办单位：厦门产业技术研究院、英特尔众创空间加速器、厦门工业设计协会<br />
                    &nbsp;&nbsp;&nbsp; <strong>二、时</strong>
                </span><strong><span style="font-size: 20px;">点</span></strong><span style="font-size:20px;">
                    <strong>间与地</strong><br />
                    &nbsp;&nbsp;&nbsp; 时间：2016年5月20日（星期五）下午 14:30~17:30（14:00开始签到）<br />
                    &nbsp;&nbsp;&nbsp; 地点：厦门市集美区集美大道1300号厦门产业技术研究院创新大厦25楼<br />
                    &nbsp;&nbsp;&nbsp; <strong>三、参加对象</strong><br />
                    &nbsp;&nbsp;&nbsp; 我市中小微企业相关从业人员、创客团队、众创空间从业人员，共计200人。<br />
                    &nbsp;&nbsp;&nbsp; <strong>四、活动内容</strong><br />
                    &nbsp;&nbsp;&nbsp; 1、英特尔Intel&ldquo;创客爆米花&rdquo;计划厦门启动仪式
                </span><br />
                <span style="font-size: 20px;">&nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">嘉宾：李德胜，英特尔（中国）有限公司战略合作与创新业务部中国区总经理、众创</span><span style="font-size: 20px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">空间加速器中国区负责人。</span><br />
                <span style="font-size: 20px;">&nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">
                    2、李德胜总经理主题演讲<br />
                    &nbsp; &nbsp; 题目：创客是英特尔创新合作伙伴<br />
                    &nbsp; &nbsp; 内容：英特尔众创空间加速器在中国的布局，英特尔众创空间如何对创客支持。<br />
                    &nbsp; &nbsp; 3、陈德胜主题演讲<br />
                    &nbsp; &nbsp; 内容：小微企业的创新思维与价值定位<br />
                    &nbsp; &nbsp; 嘉宾：陈德胜，台湾人，目前担任卓玉设计Xcellent Products International创意总监，从事电脑相关、生活家居产品、3C产品、家具及电动脚踏车设计。2004年独创〝产品价值识别Product VALUE Identity〞的系统，以Variation，Aesthetics，Lifestyle，Utility，Economics定义产品的开发价值。Ader Chair创始人，Ader Chair获美国IDEA Final list，是两岸人体工学椅第一位获得者。<br />
                    &nbsp; &nbsp; 4、毛连华主题演讲<br />
                    &nbsp; &nbsp;内容：中小微企业如何借助双创实现产业升级<br />
                    &nbsp; &nbsp;嘉宾：毛连华，厦门大学MBA，曾任职于福州大学厦门工艺美术学院工业设计系；从事近30年塑料成型、模具、结构件和电子件生产制造的技术和运营管理工作；资深创客；1994年创业，现任华尔达（厦门）塑胶有限公司董事长、厦门市派美特科技有限公司董事长、派美特众创空间和英特尔联合众创空间创始人、厦门市众创空间产业协会副会长。<br />
                    &nbsp; &nbsp;<strong>五、报名方式</strong><br />
                    &nbsp; &nbsp;1、请登录中小在线&ldquo;慧企云&rdquo;培训平台（px.xmsme.gov.cn）报名，首次报名人员请先注册账号，学员请实名注册，不得冒名顶替。<br />
                    &nbsp; &nbsp;2、请学员携带&ldquo;名片&rdquo;参加论坛，学员通过微信在签到处&ldquo;扫描二维码&rdquo;现场签到。<br />
                    &nbsp; &nbsp;3、联系方式：厦门市派美科技有限公司 孙艳娇，电话：15222751876<br />
                    &nbsp;
                </span>
                <div style="text-align: right;">
                    <span style="font-size:20px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 厦门市派美特科技有限公司<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2016年4月20日
                    </span>
                </div>


            </div>
        </div>
        <div id="cxjs" class="col-lg-12 displaynone">
            <div class="modal-body">
                <!-- Project Details Go Here -->
                <h3 class="text-center">创新加速服务-厦门科技局领导和英特尔众创加速器负责人莅临参观考察</h3><br />
                <div class="text-left">
                    <span style="font-size: 20px;">
                        4月28日下午，厦门市科技局李波副局长一行莅临考察智能+创新创业公共服务平台，平台负责人毛连华先生做了详细介绍，并带领参观了平台的实验室、贴片室、手板室、视听<br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a1.png" />


                        <br />
                        <img class="img-responsive" src="../img/Activity/a2.png" />

                    </span>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size: 18px;">
                            团队机器人为李波副局长送上香浓咖啡<br />
                            <br />
                            <img class="img-responsive" src="../img/Activity/a3.png" />

                        </span>
                    </div>
                    <div>
                        <br />
                        <span style="font-size:20px;">
                            &ldquo;大众创业、万众创新&rdquo;火热的背后，不仅是市场需求的持续发酵，也是政府重视、政策扶<br />
                            持的结果。<br />
                            <img class="img-responsive" src="../img/Activity/a4.png" />
                            <br />
                            <img class="img-responsive" src="../img/Activity/a5.png" />
                            <br />
                            李波副局长充分肯定了智能+创新创业公共服务平台，希望智能+创新创业公共服务平台能努力打造国内最高标准高新创客高地，为创客提供全流程、全资源要素资源服务。<br />
                            最后，李波副局长与杨云涛女士、毛连华先生共同交流创新创业新思路。
                        </span><br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/a6.png" />
                            <br />
                            同日下午，英特尔众创加速器运营总监杨云涛莅临智能+创新创业公共服务平台考察参观。平台负责人毛连华先生及各孵化项目负责人热情接待。<br />
                            <br />
                            <img class="img-responsive" src="../img/Activity/a7.png" />
                            <br />
                            <img class="img-responsive" src="../img/Activity/a8.png" />
                        </span><br />
                        &nbsp;
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size:18px;">团队机器人为杨云涛女士献花并送上香浓咖啡</span><br />
                        &nbsp;
                    </div>
                    <div>
                        <span style="font-size:20px;">毛连华先生向杨云涛女士介绍了智能+创新创业公共服务平台概况，详细介绍了平台战略定位、运营模式、发展规划及目前平台建设和项目进展情况，并陪同参观了智能+创新创业公共服务平台。</span><br />
                        <br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/a9.png" />
                        </span><br />
                        <br />
                        <br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/a10.png" />
                        </span><br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a11.png" />
                        &nbsp;
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size:18px;">智能+创新创业公共服务平台毛连华先生讲解</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a12.png" />
                        <br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a13.png" />
                        <br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a14.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士参观英特尔联合众创空间开放实验室和工作坊</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a15.png" /><br />
                        <br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a16.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">贴片室，降低成本，为创客服务</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a17.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">创客团队研究英特尔套件</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a18.png" /><br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a19.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士与毛连华先生及项目负责人合影</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a20.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士和创客团队合影</span><br />
                        &nbsp;
                    </div>
                    <div>
                        <img class="img-responsive" src="../img/Activity/a21.png" /><br />
                        <br />
                        <br />
                        <span style="font-size:20px;">厦门智能+创新创业公共服务平台由厦门产业技术研究院与英特尔、硅谷高创会、厦门市派美特科技有限公司等共建。平台定位于为各众创空间助力传统产业升级转型和创新创业团队的智能产品项目提供高效的转化支撑综合服务，可以在创新创业各阶段弥补他们的不足和短板并提高项目成功率。平台将创意、创新、创业、市场、资本、孵化和产业化相结合，进行嫁接磨合，快速低成本地验证创新创业产品的市场、完善制造技术（工程化）、管控供应链和成本、对接资本市场等，加速项目的市场化与产业化，同时也为各个众创空间、高校及孵化器、科研院所提供一个低门槛、低成本、专业化、全要素、全流程、开放式的智能产品和智能制造协同创新一站式服务平台。</span><br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        &nbsp;
                    </div>


                </div>

            </div>
        </div>

        <div id="zxqycxsj" class="col-lg-12 displaynone">
            <div class="modal-body">
                <!-- Project Details Go Here -->
                <h3 class="text-center">厦门智能<sup>+</sup>创新创业公共服务平台正式启动</h3><br />
                <div class="text-left">
                    <span style="font-size: 20px;">
                        在5月20日下午举办的中小企业活动月活动中, 由厦门市经济与信息化局、厦门市财政局主办，中国致公党厦门市委、厦门市科学技术局支持，厦门市产业技术研究院、厦门市中小企业服务中心、厦门市派美特科技有限公司承办，英特尔众创空间加速器、台湾中小企业总会、台湾创意设计中心等单位协办的“中小企业如何借助双创实现产业升级”论坛，派美特-英特尔联合众创空间授牌仪式暨厦门智能+创新创业公共服务平台启动仪式在厦门产业技术研究院创新大厦圆满落幕。
                        <br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/520-1.png" />


                    </span>
                    <div>
                        <span style="font-size:20px;">
                            <br />
                            中国致公党厦门市委徐平东主委、市经信局张潘正副局长、市科技局李波副局长出席活动并分别致辞。据了解，厦门市今年入选全国15个创业创新基地示范城市之一，政府将积极整合各类资源、扶持平台，以更好推进”双创“打造经济发展的新动力。<br /><br />    
                            <img class="img-responsive" src="../img/Activity/520-2.png" />
                            
                        </span>
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">市科技局李波副局长致欢迎词</span>
                    </div>
                    <div>
                        <span style="font-size:20px;">
                            <br />
                            <img class="img-responsive" src="../img/Activity/520-3.png" />
                            
                        </span>
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">市经信局张潘正副局长致欢迎词</span>
                    </div>
                    <div>
                        <span style="font-size:20px;">
                            <br />
                            <img class="img-responsive" src="../img/Activity/520-4.png" />
                            <br />
                        </span><br />
                        
                    </div>

                    <div style="text-align: left;">
                        <span style="font-size:20px;"><strong>厦门智能+创新创业公共服务平台启动  助力“双创”  </strong></span><br />
                        &nbsp;
                    </div>
                    <div>
                        
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/520-9.png" />
                        </span>
                        
                    </div>
                    <div>
                        <br />
                        <span style="font-size:20px;">
                            厦门智能+创新创业公共服务平台由厦门产业技术研究院、英特尔、硅谷高创会、厦门市派美特科技有限公司等共建。平台致力于整合创业资源，为创客或创业团队、小微科技企业提供全要素、一站式的“精益创业服务整体解决方案”，融合市场、产品、工程、制造、供应链、销售、品牌、导师、资金等要素，形成厦门创新创业全链条、全资源、全要素聚集效应，促使其快速成长。
                        </span><br /><br />

                        <span style="font-size:20px;">
                            <strong>英特尔联合众创空间授牌成立</strong>
                        </span><br />
                        <br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/520-10.png" />
                            <br />
                            派美特与英特尔(中国)有限公司签订合作，共同打造“派美特-英特尔联合众创空间”项目，并举行隆重的授牌仪式。据悉，英特尔将为联合众创空间提供策略运营支持，包括创客开发应用套件、导师辅导，线上培训课程、计划以及联合举办创客大赛、创新创业峰会、创客马拉松等创投加速活动。
                            <br /><br />        
                            <img class="img-responsive" src="../img/Activity/520-11.png" />
                           
                        </span>
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">英特尔李德胜总经理接受媒体采访</span>
                    </div>
                    <div>

                        <span style="font-size:20px;">
                            <br/>
                            <img class="img-responsive" src="../img/Activity/520-13.png" /><br/>
                            <img class="img-responsive" src="../img/Activity/520-12.png" />
                        </span>

                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">英特尔李德胜总经理、致公党厦门市委徐平东主委、科技局李波副局长、派美特毛连华先生合影</span>
                    </div>
                    <div>
                        <br />
                        <span style="font-size:20px;">
                            当天论坛上有四位演讲嘉宾：英特尔中国战略合作与创新业务部中国区总经理、众创空间加速器中国区负责人 李德胜、台湾中小企业总会 舒嘉兴营运长、台湾著名设计师阿德老师、和厦门智能+创新创业公共服务平台毛连华。其中，英特尔众创空间加速器中国区负责人 李德胜“创客是英特尔创新合作伙伴”、舒嘉兴“运长从世界经济发展谈小微型企业及个人事业新价值”、设计师阿德老师“小微企业的创新思维与价值定位”和厦门智能+创新创业平台毛连华“中小微企业如何借助双创实现产业升级“的精彩主题分享启发了到场的创客及小微企业，在论坛结束后的，还行进了沙龙互动交流环节。
                            
                        </span>
                        <br />
                        <br />
                        <span style="font-size:20px;">
                           
                            <img class="img-responsive" src="../img/Activity/520-5.png" />
                            <br />
                            
                        </span>
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size:18px;">英特尔李德胜总经理主题分享</span>
                    </div>
                    <div>
                        
                        <span style="font-size:20px;">
                            <br/>
                            <img class="img-responsive" src="../img/Activity/520-6.png" />
                           
                        </span>
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">台湾中小企业总会舒嘉兴营运长主题分享</span>
                    </div>
                    <div>
                        <br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/520-14.png" />
                            <br />

                        </span>
                    </div>
                    <div style="text-align: center;">
                       
                        <span style="font-size:18px;">台湾设计师陈德胜主题分享</span>
                    </div>
                    <div>
                        <br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/520-15.png" />
                            <br />

                        </span>
                    </div>
                    <div style="text-align: center;">
                       
                        <span style="font-size:18px;">毛连华先生主题分享</span>
                    </div>
                    <div>
                        <br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/520-16.png" />
                            <br />

                        </span>
                    </div>
                </div>

            </div>
        </div>

        <div id="zxzxbd" class="col-lg-12 displaynone">
            <div class="modal-body">
                <div>
                    <p style="text-align:center"><strong><span style="font-size:24px">&ldquo;中小企业如何借助双创实现产业升级&rdquo;暨厦门智能+创新创业公共服务平台启动仪式</span></strong></p>

                    <p style="text-align:center">&nbsp;</p>

                    <p><img class="img-responsive center" style="margin:0 auto;"  src="~/img/Activity/zxbd-1.jpg" /></p><br/>
                </div>

                <p><span style="font-size:20px"><strong>　　厦门中小在线网讯</strong>　5月20日下午，由厦门市经济与信息化局、厦门市财政局主办，厦门市产业技术研究院、厦门市中小企业服务中心、厦门市派美特科技有限公司承办，英特尔众创空间加速器、台湾中小企业总会、台湾创意设计中心等单位协办的厦门市中小企业服务月&ldquo;中小企业如何借助双创实现产业升级&rdquo;论坛，派美特-英特尔联合众创空间授牌仪式暨厦门智能+创新创业公共服务平台启动仪式在厦门产业技术研究院创新大厦圆满落幕。</span></p>

                <p>&nbsp;</p>

                <p><span style="font-size:20px">　　中国致公党厦门市委主委徐平东、厦门市经信局副局长张潘正、厦门市科技局副局长李波、英特尔中国战略合作与创新业务部、众创空间加速器中国区负责人李德胜、台湾中小企业总会营运长舒嘉兴、台湾创业设计中心陈德胜等领导和嘉宾出席论坛。张潘正副局长、李波副局长在开幕式上致辞。</span></p>

                <p>&nbsp;</p>

                <p><img class="img-responsive center" style="margin:0 auto;" src="~/img/Activity/zxbd-2.jpg" /></p>

                <p style="text-align:center"><span style="font-size:18px">市经信局张潘正副局长致辞</span></p>

                <p>　　<span style="font-size:20px">英特尔中国战略合作与创新业务部中国区总经理、众创空间加速器中国区负责人 李德胜、台湾中小企业总会 舒嘉兴营运长、台湾著名设计师阿德老师、和厦门智能+创新创业平台毛连华分别进行主题演讲。其中，英特尔众创空间加速器中国区负责人 李德胜&ldquo;创客是英特尔创新合作伙伴&rdquo;、舒嘉兴&ldquo;运长从世界经济发展谈小微型企业及个人事业新价值&rdquo;、设计师阿德老师&ldquo;小微企业的创新思维与价值定位&rdquo;和厦门智能+创新创业平台毛连华&ldquo;中小微企业如何借助双创实现产业升级&ldquo;的精彩主题分享启发了到场的创客及小微企业，在论坛结束后还进行了沙龙互动交流环节。</span></p>

                <p>&nbsp;</p>

                <p><span style="font-size:20px"><strong>厦门智能<sup>+</sup>创新创业公共服务平台启动</strong></span></p>

                <p><span style="font-size:20px">　　此次论坛启动了厦门智能+创新创业公共服务平台，此平台由厦门产业技术研究院、英特尔、硅谷高创会、厦门市派美特科技有限公司等共建。&ldquo;智能+&rdquo;创新创业服务平台致力于整合创业资源，为创客或创业团队、小微科技企业提供全要素、一站式的&ldquo;精益创业服务整体解决方案&rdquo;，融合市场、产品、工程、制造、供应链、销售、品牌、导师、资金等要素，形成厦门创新创业全链条、全资源、全要素聚集效应，促使其快速成长。</span></p>

                <p>&nbsp;</p>

                <p><span style="font-size:20px"><strong>英特尔联合众创空间揭牌成立</strong></span></p>

                <p><span style="font-size:20px">　　派美特与英特尔(中国)有限公司签订合作，共同打造&ldquo;派美特-英特尔联合众创空间&rdquo;项目，并举行隆重的揭牌仪式。据悉，英特尔将为联合众创空间提供策略运营支持，包括创客开发应用套件、导师辅导，线上培训课程、计划以及联合举办创客大赛、创新创业峰会、创客马拉松等创投加速活动。</span></p>

                <p>&nbsp;</p>

                <p><img class="img-responsive center" style="margin:0 auto;" src="~/img/Activity/zxbd-3.jpg" /></p>

                <p style="text-align:center"><span style="font-size:18px">英特尔联合众创空间揭牌成立　　</span></p>

                <p style="text-align:center">&nbsp;</p>

                <p><span style="font-size:20px">　　论坛经过交流探讨形成了共识，希望按照政府引导、市场主导、问题导向、创新模式的原则，充分发挥&ldquo;智能+&rdquo;对中下微企业创新升级的带动作用，大力建设创新创业公共服务平台，构建和完善创业创新服务体系。</span></p>

                <p>&nbsp;</p>

                <p><span style="font-size:20px">（来源：中小在线）</span></p>

                <p style="text-align:right">&nbsp;</p>

            </div>
        </div>

        <div id="xmrb" class="col-lg-12 displaynone">
            <div class="modal-body">
                <div>
                    <p style="text-align: center;"><span style="font-size:24px"><strong>福建首个英特尔来厦设众创空间</strong></span></p>

                    <p>&nbsp;&nbsp;&nbsp; <span style="font-size:20px">继百度、阿里巴巴、腾讯、谷歌后，又一科技巨头来厦设立众创空间。昨日，位于厦门产业技术研究院创新大厦的派美特-英特尔联合众创空间正式揭牌，国际科技巨头英特尔携手厦门本土企业派美特，为厦门有志于智能硬件领域的创业小伙伴打造全流程、全要素的创业服务平台。这是英特尔在福建省设立的首个众创空间。&ldquo;我们希望入驻的团队在技术方面有自己的创新，同时能为消费者带来价值。这些团队也将获得英特尔的品牌关注、推广销售、产业对接、投资机会等一系列服务。&rdquo;英特尔众创空间加速器中国区负责人李德胜介绍说，英特尔已在国内8 个城市打造众创空间，此次入驻厦门，主要看中这里浓厚的创业氛围以及在电子、机械等方面的优势。</span></p>

                    <p><span style="font-size:20px">与派美特-英特尔联合众创空间同步启动的，还有由厦门产业技术研究院与英特尔、硅谷高创会、派美特共建的厦门智能+创新创业公共服务平台。平台内设有多台智能制造相关设备仪器以及多个实验室，计划为传统企业转型升级和创新创业团队的智能产品项目提供转化支撑综合服务。</span></p>

                    <p><img class="img-responsive center" style="margin:0 auto;" src="~/img/Activity/xmrb.png" /></p>

                    <p><span style="font-size:20px">（来源：厦门日报）</span></p>
                </div>

            </div>
        </div>

        <div id="xmwb" class="col-lg-12 displaynone">
            <div class="modal-body">
                <div>
                    <h1 style="text-align: center;"><span style="font-size:26px"><strong>英特尔福建首个全要素众创空间落户我市</strong></span></h1>

                    <p>&nbsp;</p>

                    <p><span style="font-size:20px">20日下午，派美特-英特尔联合众创空间在市产研院创新大厦正式揭牌，标志着英特尔在福建的首个全要素众创空间派美特落户我市。</span></p>

                    <p><span style="font-size:20px">在派美特-英特尔众创空间里，不少新奇项目令人称奇。香港团队研发的一款神奇感应音箱，有别于其他蓝牙音箱，工作时不需要任何操作，只要把正在播放音乐的手机放在音箱上，利用近场音频技术，音箱将识别出正在播放的音乐，并放大声音。</span></p>

                    <p>&nbsp;</p>

                    <p><span style="font-size:20px">派美特-英特尔众创空间还有团队研发了一款手机机器人。当您想跟机器人玩耍，就把手机放在机器人头部，打开软件连接，&ldquo;激活&rdquo;的机器人就成为&ldquo;宠物&rdquo;，甚至还会跳舞。</span></p>

                    <p>&nbsp;</p>

                    <p><img class="img-responsive center" style="margin:0 auto;" src="~/img/Activity/xmwb.png" /></p>

                    <p><span style="font-size:20px">（来源：厦门晚报）</span></p>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var articleType = '@Request["articletype"]';
    $(function () {
        if(articleType != null && articleType !="")
        {
            $("#" + articleType).show();
        } else {
            window.location.href = "/Home/Error";
        }
    });
</script>