@{
    string type = (string)ViewData["type"];
    string articletype = (string)ViewData["articletype"];
}

<style>
    .displaynone{
        display:none;
    }
</style>
<div class="container">
    <div class="row">
        <div id="nothing" class="displaynone">
            <h1 class="text-center">暂无活动内容</h1>
        </div>
        <div class="col-lg-12 displaynone" id="zxqyhd">

            <!-- Project Details Go Here -->
            <h2 class="text-center">中小企业活动月</h2>
            <p class="item-intro text-center">
                关于举办2016厦门市中小企业服务月系列活动之
                “中小企业如何借助双创实现产业升级”培训论坛的通知
            </p>
            <div class="text-left">
                <span style="font-size:20px;">
                    &nbsp;<br />
                    围绕&ldquo;服务中小企 创新赢未来&rdquo;这一主题，根据2016年中小企业服务月活动安排，开展&ldquo;中小企业如何借助双创实现产业升级&rdquo;，助力中小微企业产业升级和产学研用协同创新，现将相关事项通知如下：<br />
                    &nbsp;&nbsp;&nbsp; <strong>一、主承办单位</strong><br />
                    &nbsp;&nbsp;&nbsp; 主办单位：厦门市经济与信息化局、厦门市科学技术局、厦门市财政局<br />
                    &nbsp;&nbsp;&nbsp; 承办单位：厦门市中小企业服务中心、厦门中小在线、厦门市中小企业服务行业协会、厦门市众创空间产业协会、厦门市派美特科技有限公司<br />
                    &nbsp;&nbsp;&nbsp; 协办单位：厦门产业技术研究院、英特尔众创空间加速器、厦门工业设计协会<br />
                    &nbsp;&nbsp;&nbsp; <strong>二、时</strong>
                </span><strong><span style="font-size: 20px;">点</span></strong><span style="font-size:20px;">
                    <strong>间与地</strong><br />
                    &nbsp;&nbsp;&nbsp; 时间：2016年5月20日（星期五）下午 14:30~17:30（14:00开始签到）<br />
                    &nbsp;&nbsp;&nbsp; 地点：厦门市集美区集美大道1300号厦门产业技术研究院创新大厦25楼<br />
                    &nbsp;&nbsp;&nbsp; <strong>三、参加对象</strong><br />
                    &nbsp;&nbsp;&nbsp; 我市中小微企业相关从业人员、创客团队、众创空间从业人员，共计200人。<br />
                    &nbsp;&nbsp;&nbsp; <strong>四、活动内容</strong><br />
                    &nbsp;&nbsp;&nbsp; 1、英特尔Intel&ldquo;创客爆米花&rdquo;计划厦门启动仪式
                </span><br />
                <span style="font-size: 20px;">&nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">嘉宾：李德胜，英特尔（中国）有限公司战略合作与创新业务部中国区总经理、众创</span><span style="font-size: 20px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">空间加速器中国区负责人。</span><br />
                <span style="font-size: 20px;">&nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">
                    2、李德胜总经理主题演讲<br />
                    &nbsp; &nbsp; 题目：创客是英特尔创新合作伙伴<br />
                    &nbsp; &nbsp; 内容：英特尔众创空间加速器在中国的布局，英特尔众创空间如何对创客支持。<br />
                    &nbsp; &nbsp; 3、陈德胜主题演讲<br />
                    &nbsp; &nbsp; 内容：小微企业的创新思维与价值定位<br />
                    &nbsp; &nbsp; 嘉宾：陈德胜，台湾人，目前担任卓玉设计Xcellent Products International创意总监，从事电脑相关、生活家居产品、3C产品、家具及电动脚踏车设计。2004年独创〝产品价值识别Product VALUE Identity〞的系统，以Variation，Aesthetics，Lifestyle，Utility，Economics定义产品的开发价值。Ader Chair创始人，Ader Chair获美国IDEA Final list，是两岸人体工学椅第一位获得者。<br />
                    &nbsp; &nbsp; 4、毛连华主题演讲<br />
                    &nbsp; &nbsp;内容：中小微企业如何借助双创实现产业升级<br />
                    &nbsp; &nbsp;嘉宾：毛连华，厦门大学MBA，曾任职于福州大学厦门工艺美术学院工业设计系；从事近30年塑料成型、模具、结构件和电子件生产制造的技术和运营管理工作；资深创客；1994年创业，现任华尔达（厦门）塑胶有限公司董事长、厦门市派美特科技有限公司董事长、派美特众创空间和英特尔联合众创空间创始人、厦门市众创空间产业协会副会长。<br />
                    &nbsp; &nbsp;<strong>五、报名方式</strong><br />
                    &nbsp; &nbsp;1、请登录中小在线&ldquo;慧企云&rdquo;培训平台（px.xmsme.gov.cn）报名，首次报名人员请先注册账号，学员请实名注册，不得冒名顶替。<br />
                    &nbsp; &nbsp;2、请学员携带&ldquo;名片&rdquo;参加论坛，学员通过微信在签到处&ldquo;扫描二维码&rdquo;现场签到。<br />
                    &nbsp; &nbsp;3、联系方式：厦门市派美科技有限公司 孙艳娇，电话：15222751876<br />
                    &nbsp;
                </span>
                <div style="text-align: right;">
                    <span style="font-size:20px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 厦门市派美特科技有限公司<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2016年4月20日
                    </span>
                </div>


            </div>
        </div>
        <div id="cxjs" class="col-lg-12 displaynone">
            <div class="modal-body">
                <!-- Project Details Go Here -->
                <h3 class="text-center">创新加速服务-厦门科技局领导和英特尔众创加速器负责人莅临参观考察</h3><br />
                <div class="text-left">
                    <span style="font-size: 20px;">
                        4月28日下午，厦门市科技局李波副局长一行莅临考察智能+创新创业公共服务平台，平台负责人毛连华先生做了详细介绍，并带领参观了平台的实验室、贴片室、手板室、视听<br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a1.png" />


                        <br />
                        <img class="img-responsive" src="../img/Activity/a2.png" />

                    </span>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size: 18px;">
                            团队机器人为李波副局长送上香浓咖啡<br />
                            <br />
                            <img class="img-responsive" src="../img/Activity/a3.png" />

                        </span>
                    </div>
                    <div>
                        <br />
                        <span style="font-size:20px;">
                            &ldquo;大众创业、万众创新&rdquo;火热的背后，不仅是市场需求的持续发酵，也是政府重视、政策扶<br />
                            持的结果。<br />
                            <img class="img-responsive" src="../img/Activity/a4.png" />
                            <br />
                            <img class="img-responsive" src="../img/Activity/a5.png" />
                            <br />
                            李波副局长充分肯定了智能+创新创业公共服务平台，希望智能+创新创业公共服务平台能努力打造国内最高标准高新创客高地，为创客提供全流程、全资源要素资源服务。<br />
                            最后，李波副局长与杨云涛女士、毛连华先生共同交流创新创业新思路。
                        </span><br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/a6.png" />
                            <br />
                            同日下午，英特尔众创加速器运营总监杨云涛莅临智能+创新创业公共服务平台考察参观。平台负责人毛连华先生及各孵化项目负责人热情接待。<br />
                            <br />
                            <img class="img-responsive" src="../img/Activity/a7.png" />
                            <br />
                            <img class="img-responsive" src="../img/Activity/a8.png" />
                        </span><br />
                        &nbsp;
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size:18px;">团队机器人为杨云涛女士献花并送上香浓咖啡</span><br />
                        &nbsp;
                    </div>
                    <div>
                        <span style="font-size:20px;">毛连华先生向杨云涛女士介绍了智能+创新创业公共服务平台概况，详细介绍了平台战略定位、运营模式、发展规划及目前平台建设和项目进展情况，并陪同参观了智能+创新创业公共服务平台。</span><br />
                        <br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/a9.png" />
                        </span><br />
                        <br />
                        <br />
                        <span style="font-size:20px;">
                            <img class="img-responsive" src="../img/Activity/a10.png" />
                        </span><br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a11.png" />
                        &nbsp;
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size:18px;">智能+创新创业公共服务平台毛连华先生讲解</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a12.png" />
                        <br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a13.png" />
                        <br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a14.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士参观英特尔联合众创空间开放实验室和工作坊</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a15.png" /><br />
                        <br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a16.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">贴片室，降低成本，为创客服务</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a17.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">创客团队研究英特尔套件</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a18.png" /><br />
                        <br />
                        <img class="img-responsive" src="../img/Activity/a19.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士与毛连华先生及项目负责人合影</span>
                    </div>
                    <div>
                        <br />
                        <img class="img-responsive" src="../img/Activity/a20.png" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士和创客团队合影</span><br />
                        &nbsp;
                    </div>
                    <div>
                        <img class="img-responsive" src="../img/Activity/a21.png" /><br />
                        <br />
                        <br />
                        <span style="font-size:20px;">厦门智能+创新创业公共服务平台由厦门产业技术研究院与英特尔、硅谷高创会、厦门市派美特科技有限公司等共建。平台定位于为各众创空间助力传统产业升级转型和创新创业团队的智能产品项目提供高效的转化支撑综合服务，可以在创新创业各阶段弥补他们的不足和短板并提高项目成功率。平台将创意、创新、创业、市场、资本、孵化和产业化相结合，进行嫁接磨合，快速低成本地验证创新创业产品的市场、完善制造技术（工程化）、管控供应链和成本、对接资本市场等，加速项目的市场化与产业化，同时也为各个众创空间、高校及孵化器、科研院所提供一个低门槛、低成本、专业化、全要素、全流程、开放式的智能产品和智能制造协同创新一站式服务平台。</span><br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        &nbsp;
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var articleType = '@Request["articletype"]';
    $(function () {
        if(articleType != null && articleType !="")
        {
            $("#" + articleType).show();
        } else {
            window.location.href = "/Home/Error";
        }
    });
</script>