@using MakerPlatform.Models;
@{
    Article article = (Article)ViewData["article"];
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
           <a href="/Article/Index" style="text-decoration:none;"><i class="fa fa-arrow-circle-left"></i> 返回活动列表</a>
            
        </div>
        <div class="col-md-12">
            @Html.Raw(article.Content)

        </div>
    </div>
    
    
</div>
