@using MakerPlatform.Models;

@{
    List<TopNavMenuModel> topNavMenus = (List<TopNavMenuModel>)ViewData["TopNavMenus"];

}
@{
    if (ViewBag.From =="Default")
    {
        <li>
            <a class="page-scroll" href="#services">服务</a>
        </li>
        <li>
            <a class="page-scroll" href="#activity">活动</a>
        </li>
        <li>
            <a class="page-scroll" href="#information">资讯</a>
        </li>
        <li>
            <a class="page-scroll" href="#shop">商城</a>
        </li>
        <li>
            <a class="page-scroll" href="#about">关于我们</a>
        </li>
    }
    else
    {
        <li>
            <a class="page-scroll" href="/Home/Default#services">服务</a>
        </li>
        <li>
            <a class="page-scroll" href="/Home/Default#activity">活动</a>
        </li>
        <li>
            <a class="page-scroll" href="/Home/Default#information">资讯</a>
        </li>
        <li>
            <a class="page-scroll" href="/Home/Default#shop">商城</a>
        </li>
        <li>
            <a class="page-scroll" href="/Home/Default#about">关于我们</a>
        </li>
    }
}
