@{
    Layout = null;
}
@using MakerPlatform.Models;
@using Microsoft.AspNet.Identity;


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="~/Content/login-style.css">
    <style>
        .login-tip {
            color: red;
        }
    </style>
</head>


<body>
    <div class="container">
        <section id="content">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }

            <section id="externalLogins" style="display:none">
                @Html.Action("RemoveAccountList")
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </section><!-- content -->
    </div><!-- container -->
</body>

</html>