
<div id="brand-ppch">
    <h3>品牌策划</h3>
    <p>Enjoy first-class Markdown support with easy access to  Markdown syntax and convenient keyboard shortcuts.</p>
    <p>Give them a try:</p>
    <ul>
        <li><strong>Bold</strong> (<code>Ctrl+B</code>) and <em>Italic</em> (<code>Ctrl+I</code>)</li>
        <li>Quotes (<code>Ctrl+Q</code>)</li>
        <li>Code blocks (<code>Ctrl+K</code>)</li>
        <li>Headings 1, 2, 3 (<code>Ctrl+1</code>, <code>Ctrl+2</code>, <code>Ctrl+3</code>)</li>
        <li>Lists (<code>Ctrl+U</code> and <code>Ctrl+Shift+O</code>)</li>
    </ul>
</div>

<div id="brand-ppgl">
    <h3>品牌管理</h3>
    <p>Don't guess if your <a href="http://markdownpad.com">hyperlink syntax</a> is correct; LivePreview will show you exactly what your document looks like every time you press a key.</p>
</div>

<div id="brand-ppkf">
    <h3>品牌开发</h3>
</div>
 <script>

    $(document).ready(function () {

        //重新加载js,下拉框才有用
        $.getScript("../Scripts/bootstrap.min.js");

    });


</script>
    
    
    
