<style>
    .nav-tabs > li {
        margin-bottom: -1px;
        clear: both;
        width: 100%;
    }

    #service-content > .container {
        width: 100%;
    }

    .list-child {
        display: none;
        padding-left: 20px;
    }

    .list-child > li {
        padding: 10px 15px;
        list-style: none;
    }
    a.list-child-a
    {
        display:block;

    }

    a.list-child-a:hover,
    a.list-child-a:focus {
        color: #555;
        text-decoration: none;
        display: block;
    }

    li.list-child-li:hover,
    li.list-child-li:focus {
        color: #555;
        background-color: lightblue;
    }
</style>

<div class="row">

    <div class="col-md-3">
        <p class="lead">SERVICE</p>
        <ul class="nav nav-tabs list-nav" id="serviceTab">
            <li class="active">
                <a id="MarketPlatform" href="#service-content">市场平台</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="market-scdy" name="MarketPlatform" href="#service-content" class="list-child-a">市场调研</a>
                    </li>
                    <li class="list-child-li">
                        <a id="market-ltjz" name="MarketPlatform" href="#service-content" class="list-child-a">论坛讲座</a>
                    </li>
                    <li class="list-child-li">
                        <a id="market-ckds" name="MarketPlatform" href="#service-content" class="list-child-a">创客大赛</a>
                    </li>
                    <li class="list-child-li">
                        <a id="market-mtgg" name="MarketPlatform" href="#service-content" class="list-child-a">媒体广告</a>
                    </li>
                    <li class="list-child-li">
                        <a id="market-gjzh" name="MarketPlatform" href="#service-content" class="list-child-a">国际展会</a>
                    </li>
                    <li class="list-child-li">
                        <a id="market-gnzh" name="MarketPlatform" href="#service-content" class="list-child-a">国内展会</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="BrandPlatform" href="#service-content">品牌平台</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="brand-ppch" name="BrandPlatform" href="#service-content" class="list-child-a">品牌策划</a>
                    </li>
                    <li class="list-child-li">
                        <a id="brand-ppgl" name="BrandPlatform" href="#service-content" class="list-child-a">品牌管理</a>
                    </li>
                    <li class="list-child-li">
                        <a id="brand-ppkf" name="BrandPlatform" href="#service-content" class="list-child-a">品牌开发</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="SellPlatform" href="#service-content">销售平台</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="sell-ctqd" name="SellPlatform" href="#service-content" class="list-child-a">传统渠道</a>
                    </li>
                    <li class="list-child-li">
                        <a id="sell-gnds" name="SellPlatform" href="#service-content" class="list-child-a">国内电商</a>
                    </li>
                    <li class="list-child-li">
                        <a id="sell-kjds" name="SellPlatform" href="#service-content" class="list-child-a">跨境电商</a>
                    </li>
                    <li class="list-child-li">
                        <a id="sell-b2b" name="SellPlatform" href="#service-content" class="list-child-a">B2B</a>
                    </li>
                    <li class="list-child-li">
                        <a id="sell-b2c" name="SellPlatform" href="#service-content" class="list-child-a">B2C</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="MakePlatform" href="#service-content">制造平台</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="make-dplsc" name="MakePlatform" href="#service-content" class="list-child-a">大批量生产</a>
                    </li>
                    <li class="list-child-li">
                        <a id="make-zyhzz" name="MakePlatform" href="#service-content" class="list-child-a">专业化制造</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="ProjectPlatform" href="#service-content">工程平台</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="project-ybzz" name="ProjectPlatform" href="#service-content" class="list-child-a">样板制作</a>
                    </li>
                    <li class="list-child-li">
                        <a id="project-mzjl" name="ProjectPlatform" href="#service-content" class="list-child-a">模治检量</a>
                    </li>
                    <li class="list-child-li">
                        <a id="project-gjzz" name="ProjectPlatform" href="#service-content" class="list-child-a">工具制作</a>
                    </li>
                    <li class="list-child-li">
                        <a id="project-szsc" name="ProjectPlatform" href="#service-content" class="list-child-a">试做试产</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="ProductPlatform" href="#service-content">产品平台</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="product-zcxm" name="ProductPlatform" href="#service-content" class="list-child-a">众创项目</a>
                    </li>
                    <li class="list-child-li">
                        <a id="product-cxyy" name="ProductPlatform" href="#service-content" class="list-child-a">产学研用</a>
                    </li>
                    <li class="list-child-li">
                        <a id="product-whcy" name="ProductPlatform" href="#service-content" class="list-child-a">文化创意</a>
                    </li>
                    <li class="list-child-li">
                        <a id="product-sjfa" name="ProductPlatform" href="#service-content" class="list-child-a">设计-方案</a>
                    </li>
                    <li class="list-child-li">
                        <a id="product-khxq" name="ProductPlatform" href="#service-content" class="list-child-a">客户需求</a>
                    </li>
                    <li class="list-child-li">
                        <a id="product-cpzc" name="ProductPlatform" href="#service-content" class="list-child-a">产品众筹</a>
                    </li>
                    <li class="list-child-li">
                        <a id="product-odmoem" name="ProductPlatform" href="#service-content" class="list-child-a">ODM/OEM</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="SupplyManagement" href="#service-content">供应链管理</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="supply-ccwl" name="SupplyManagement" href="#service-content" class="list-child-a">仓储物流</a>
                    </li>
                    <li class="list-child-li">
                        <a id="supply-ffps" name="SupplyManagement" href="#service-content" class="list-child-a">分发配送</a>
                    </li>
                    <li class="list-child-li">
                        <a id="supply-cgwf" name="SupplyManagement" href="#service-content" class="list-child-a">采购外发</a>
                    </li>
                    <li class="list-child-li">
                        <a id="supply-jygl" name="SupplyManagement" href="#service-content" class="list-child-a">精益管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="TutorPlatform" href="#service-content">导师平台</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="tutor-zlgh" name="TutorPlatform" href="#service-content" class="list-child-a">战略规划</a>
                    </li>
                    <li class="list-child-li">
                        <a id="tutor-qyjl" name="TutorPlatform" href="#service-content" class="list-child-a">企业教练</a>
                    </li>
                    <li class="list-child-li">
                        <a id="tutor-gwpx" name="TutorPlatform" href="#service-content" class="list-child-a">顾问培训</a>
                    </li>
                    <li class="list-child-li">
                        <a id="tutor-cxy" name="TutorPlatform" href="#service-content" class="list-child-a">产学研</a>
                    </li>
                    <li class="list-child-li">
                        <a id="tutor-xh" name="TutorPlatform" href="#service-content" class="list-child-a">协会</a>
                    </li>
                    <li class="list-child-li">
                        <a id="tutor-rlzy" name="TutorPlatform" href="#service-content" class="list-child-a">人力资源开发</a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="FundPlatform" href="#service-content">资金平台</a>
                <ul class="list-child">
                    <li class="list-child-li">
                        <a id="fund-zc" name="FundPlatform" href="#service-content" class="list-child-a">众筹</a>
                    </li>
                    <li class="list-child-li">
                        <a id="fund-jj" name="FundPlatform" href="#service-content" class="list-child-a"> 基金、PE、VC</a>
                    </li>
                    <li class="list-child-li">
                        <a id="fund-gqjy" name="FundPlatform" href="#service-content" class="list-child-a">股权交易</a>
                    </li>
                    <li class="list-child-li">
                        <a id="fund-bx" name="FundPlatform" href="#service-content" class="list-child-a">保险</a>
                    </li>
                    <li class="list-child-li">
                        <a id="fund-yh" name="FundPlatform" href="#service-content" class="list-child-a">银行</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="service-content" style="width:100%"> </div>

        </div>

    </div>

</div>
<script>

    var current_nav = '@Request.QueryString["nav"]';

    $(document).ready(function () {

        var firstLoadUrl = "/Service/MarketPlatform";
        if(current_nav !="")
        {
            firstLoadUrl = "/Service/" + current_nav;
        }

        LoadTab(firstLoadUrl);
        $('#' + current_nav).tab('show');//初始化显示哪个tab
        //初始化自动展开列表菜单
        var aa = $("#" + current_nav).next().attr("style","display:block");

        $('#serviceTab a').click(function (e) {

            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
            //加载链接内容
            var aId = this.id; debugger
            var aName = this.name;
            var tabUrl = "/Service/" + aId;
            //过滤ID
            if(aName !="")
                tabUrl = "/Service/" + aName + " #" + aId; //过滤ID为aId的返回内容

            LoadTab(tabUrl);


        });

        InitDropdownList();

    });

    function LoadTab(url) {
        $("#service-content").load(url, function () {
            //重新加载js,下拉框才有用
           // $.getScript("../Scripts/bootstrap.min.js");
        });
    }

    //初始化下拉菜单
    function InitDropdownList() {

        //说明 所有的元素以ul li ul li ul li的循环格式嵌套 如果没有下级分类 就用li a结束嵌套
        //$(".nav ul li").children("ul").hide();

        $(".list-nav").find("li:has(ul)").children("a").css({ background: "url(images/statu_close.gif) no-repeat left top;" })
          .click(function () {
              if ($(this).next("ul").is(":hidden")) {
                  $(this).next("ul").slideDown("slow");
                  if ($(this).parent("li").siblings("li").children("ul").is(":visible")) {
                      $(this).parent("li").siblings("li").find("ul").slideUp("1000");
                      $(this).parent("li").siblings("li:has(ul)").children("a").css({ background: "url(images/statu_close.gif) no-repeat left top;" })
                        .end().find("li:has(ul)").children("a").css({ background: "url(images/statu_close.gif) no-repeat left top;" });
                  }
                  $(this).css({ background: "url(images/statu_open.gif) no-repeat left top;" });
                  return false;
              } else {
                  $(this).next("ul").slideUp("normal");
                  //不用toggle()的原因是为了在收缩菜单的时候同时也将该菜单的下级菜单以后的所有元素都隐藏
                  $(this).css({ background: "url(images/statu_close.gif) no-repeat left top;" });
                  $(this).next("ul").children("li").find("ul").fadeOut("normal");
                  $(this).next("ul").find("li:has(ul)").children("a").css({ background: "url(images/statu_close.gif) no-repeat left top;" });
                  return false;
              }
          });
    }

</script>