@Html.Partial("_CommonHeader")
<style>
    .desbg {
        background-color: rgba(234, 232, 229, 0.37);
        height: 150px;
        padding: 50px 50px;
        margin-top: 70px;
    }
</style>
<div class="row desbg text-center">
    <h2>大批量生产：承接已开发产品大批量生产、出货</h2>
</div>

<div class="row desbg text-center">
    <h2> 专业化制造：承接已开发产品专业化制造</h2>
</div>
<script>
    $(function () {
        //选中“服务”
        $('ul.nav > li:eq(2)').addClass('active');

    });
</script>