<style>
    .rowStyle{padding:20px 0px;}
</style>

@Html.Partial("_CommonHeader")

<section class="bg-light-gray" style="padding:100px;">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="titleWord"></h2>

            </div>
        </div>
        
        <div class="row rowStyle">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">

                    <img src="~/img/Service/MarketPlatform/2016.1American_CES_Show-1.jpg" class="img-responsive" style="height:250px" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>2016.1美国CES展-1</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">

                    <img src="~/img/Service/MarketPlatform/2016.1American_CES_Show-2.jpg" class="img-responsive" style="height:250px" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>2016.1美国CES展-2</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">

                    <img src="~/img/Service/MarketPlatform/2016.1American_CES_Show-3.jpg" class="img-responsive" style="height:250px" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>2016.1美国CES展-3</h4>
                </div>
            </div>

        </div>
        <div class="row rowStyle">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">

                    <img src="/img/Service/MarketPlatform/2015.5.23海西创客论坛1.JPG" class="img-responsive" style="height:250px" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>2015.5.23海西创客论坛</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">

                    <img src="~/img/Service/MarketPlatform/2015.5.23海西创客论坛2.JPG" class="img-responsive" style="height:250px" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>2015.5.23海西创客论坛</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">

                    <img src="~/img/portfolio/5.jpg" class="img-responsive" style="height:250px" alt="尽情期待。。。">
                </a>
                <div class="portfolio-caption">
                    <h4>更多活动</h4>
                </div>
            </div>

        </div>
    </div>
</section>


<script src="~/Scripts/l-by-l.min.js"></script>
<script>
    $(function () {
        //选中“服务”
        $('ul.nav > li:eq(2)').addClass('active');


        $(".titleWord").lbyl({
            content: "进行市场调研、举办论坛讲座和创意创新创业大赛，在国内外知名媒体进行广告宣传、参加国内国际一流展会",
            speed: 100,
            type: 'show',
            finished: function () {

            } // Finished Callback
        });
    });
</script>











