<div id="product-zcxm">
    <h3>众创项目</h3>
    <ul>
        <li>项目1</li>
        <li>项目2</li>
    </ul>
    
</div>
<div id="product-cxyy">
    <h3>产学研用</h3>
    
    
</div>
<div id="product-whcy">
    <h3>文化创意</h3>
    <p>Fonts, color schemes, layouts and stylesheets are all 100% customizable so you can turn MarkdownPad into your perfect editor.</p>
    
</div>
<div id="product-sjfa">
    <h3>设计-方案</h3>
    <p>MarkdownPad supports multiple Markdown processing engines, including standard Markdown, Markdown Extra (with Table support) and GitHub Flavored Markdown.</p>
    <p>With a tabbed document interface, PDF export, a built-in image uploader, session management, spell check, auto-save, syntax highlighting and a built-in CSS management interface, there's no limit to what you can do with MarkdownPad.</p>

    
</div>
<div id="product-khxq">
    <h3>客户需求</h3>
    <p>MarkdownPad supports multiple Markdown processing engines, including standard Markdown, Markdown Extra (with Table support) and GitHub Flavored Markdown.</p>
    <p>With a tabbed document interface, PDF export, a built-in image uploader, session management, spell check, auto-save, syntax highlighting and a built-in CSS management interface, there's no limit to what you can do with MarkdownPad.</p>
    
</div>
<div id="product-cpzc">
    <h3>产品众筹</h3>
    <p>MarkdownPad supports multiple Markdown processing engines, including standard Markdown, Markdown Extra (with Table support) and GitHub Flavored Markdown.</p>
    <p>With a tabbed document interface, PDF export, a built-in image uploader, session management, spell check, auto-save, syntax highlighting and a built-in CSS management interface, there's no limit to what you can do with MarkdownPad.</p>
    
</div>
<div id="product-odmoem">
    <h3>ODM/OEM</h3>
    <p>MarkdownPad supports multiple Markdown processing engines, including standard Markdown, Markdown Extra (with Table support) and GitHub Flavored Markdown.</p>
    <p>With a tabbed document interface, PDF export, a built-in image uploader, session management, spell check, auto-save, syntax highlighting and a built-in CSS management interface, there's no limit to what you can do with MarkdownPad.</p>

</div>
<script>

    $(document).ready(function () {

        //重新加载js,下拉框才有用
        $.getScript("../Scripts/bootstrap.min.js");

    });


</script>

