
<div id="project-ybzz">
    <h3>样板制作</h3>
    <ul>
        <li>提供外观手板、功能结构手板的3D打印</li>
        <li>提供客户产品的PCB快板制作，钢网制作，小批量贴片服务</li>
    </ul>
    
</div>

<div id="project-mzjl">
    <h3>模治检量</h3>
    <p>提供产品的部件检测，材料检测，可靠性试验，电性能检测</p>
    
</div>

<div id="project-gjzz">
    <h3>工具制作</h3>
    <p>Fonts, color schemes, layouts and stylesheets are all 100% customizable so you can turn MarkdownPad into your perfect editor.</p>
    
</div>

<div id="project-szsc">
    <h3>试做试产</h3>
    <p>提供功能样机组装服务</p>
</div>
<script>

    $(document).ready(function () {

        //重新加载js,下拉框才有用
        $.getScript("../Scripts/bootstrap.min.js");

    });


</script>