@Html.Partial("_CommonHeader")
<style>
    .logoStyle{height:100px;}
    .panel-body{padding-bottom:50px;}
    .panel-row {
        padding-bottom:50px;
    }
</style>
<section style="padding:100px;">

    <div class="container">
        
        <div class="panel-group" id="accordion" style="padding-top:50px;">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            传统渠道
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row panel-row">
                            <div class="col-md-6">
                                <div id="zerodoor" class="carousel slide">
                                    <!-- 轮播（Carousel）指标 -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#zerodoor" data-slide-to="0" class="active"></li>
                                        <li data-target="#zerodoor" data-slide-to="1"></li>
                                        <li data-target="#zerodoor" data-slide-to="2"></li>
                                    </ol>
                                    <!-- 轮播（Carousel）项目 -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/img/Service/SellPlatform/零号门/IMG_20151227_103915.jpg" style="height:300px; width:100%" alt="Second slide">

                                        </div>
                                        <div class="item">
                                            <img src="~/img/Service/SellPlatform/零号门/IMG_20151227_102821.jpg" style="height:300px;width:100%" alt="First slide">

                                        </div>
                                        <div class="item">
                                            <img src="~/img/Service/SellPlatform/零号门/IMG_20151227_102825.jpg" style="height:300px;width:100%;" alt="Third slide">
                                        </div>
                                    </div>
                                    <!-- 轮播（Carousel）导航 -->
                                    <a class="carousel-control left" href="#zerodoor"
                                       data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="#zerodoor"
                                       data-slide="next">&rsaquo;</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>
                                    <span style="font-size:20px;">零号门</span>
                                </h2>

                            </div>
                        </div>
                        <div class="row panel-row">
                            <div class="col-md-6">
                                <h2>
                                    <span style="font-size:20px;">龙翔</span>
                                </h2>

                            </div>
                            <div class="col-md-6">

                                <div id="longxiang" class="carousel slide">
                                    <!-- 轮播（Carousel）指标 -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#longxiang" data-slide-to="0" class="active"></li>
                                        <li data-target="#longxiang" data-slide-to="1"></li>
                                        <li data-target="#longxiang" data-slide-to="2"></li>
                                    </ol>
                                    <!-- 轮播（Carousel）项目 -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/img/Service/SellPlatform/龙翔/IMG_20160421_131623.jpg" style="height:300px; width:100%" alt="Second slide">

                                        </div>
                                        <div class="item">
                                            <img src="~/img/Service/SellPlatform/龙翔/IMG_20160421_131535.jpg" style="height:300px;width:100%" alt="First slide">

                                        </div>
                                        <div class="item">
                                            <img src="~/img/Service/SellPlatform/龙翔/IMG_20160421_131527.jpg" style="height:300px;width:100%;" alt="Third slide">
                                        </div>
                                    </div>
                                    <!-- 轮播（Carousel）导航 -->
                                    <a class="carousel-control left" href="#longxiang"
                                       data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="#longxiang"
                                       data-slide="next">&rsaquo;</a>
                                </div>
                            </div>

                        </div>
                        <div class="row panel-row">
                            <div class="col-md-6">
                                <div id="meicheng" class="carousel slide">
                                    <!-- 轮播（Carousel）指标 -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#meicheng" data-slide-to="0" class="active"></li>
                                        <li data-target="#meicheng" data-slide-to="1"></li>
                                    </ol>
                                    <!-- 轮播（Carousel）项目 -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/img/Service/SellPlatform/美承/b58f8c5494eef01f3ffba721e6fe9925bd317d62.jpg" style="height:300px; width:100%" alt="Second slide">

                                        </div>
                                        <div class="item">
                                            <img src="~/img/Service/SellPlatform/美承/d439b6003af33a8724e6bffec05c10385243b54f.jpg" style="height:300px;width:100%" alt="First slide">

                                        </div>

                                    </div>
                                    <!-- 轮播（Carousel）导航 -->
                                    <a class="carousel-control left" href="#meicheng"
                                       data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="#meicheng"
                                       data-slide="next">&rsaquo;</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>
                                    <span style="font-size:20px;">美承</span>
                                </h2>

                            </div>
                        </div>
                        <div class="row panel-row">
                            <div class="col-md-6">
                                <div id="jwkk" class="carousel slide">
                                    <!-- 轮播（Carousel）指标 -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#jwkk" data-slide-to="0" class="active"></li>
                                        <li data-target="#jwkk" data-slide-to="1"></li>
                                    </ol>
                                    <!-- 轮播（Carousel）项目 -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/img/Service/SellPlatform/爪蛙卡卡/242dd42a2834349b825497abceea15ce36d3be4a.png" style="height:300px; width:100%" alt="Second slide">

                                        </div>
                                        <div class="item">
                                            <img src="~/img/Service/SellPlatform/爪蛙卡卡/e824b899a9014c082569d18b0d7b02087bf4f44a.jpg" style="height:300px;width:100%" alt="First slide">

                                        </div>
                                        <div class="item">
                                            <img src="~/img/Service/SellPlatform/爪蛙卡卡/爪蛙卡卡.png" style="height:300px;width:100%" alt="First slide">

                                        </div>
                                    </div>
                                    <!-- 轮播（Carousel）导航 -->
                                    <a class="carousel-control left" href="#jwkk"
                                       data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="#jwkk"
                                       data-slide="next">&rsaquo;</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>
                                    <span style="font-size:20px;">爪蛙卡卡</span>
                                </h2>

                            </div>
                        </div>
                        <img src="~/img/Service/SellPlatform/ctqd.png" style="width:100%;" />

                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            国内电商
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <aside class="clients">
                            <div class="container">
                                <div class="row" style="margin-right:30px;">
                                    <div class="col-md-4 col-sm-4">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/tb_logo.png" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/tm_logo.png" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/jd_logo.png" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    
                                </div>
                                
                                
                            </div>
                        </aside>
                        <span class="customerFont">作为公司立体化、全渠道销售战略的重要一环，我们积极建立、打通、拓展电子商务领域的流通渠道。目前分别在天猫、京东和淘宝开设了品牌旗舰店，同时也和部分平台的众筹渠道有着深度良好的商务合作关系。在深耕已有平台的经营之外，我们也将积极开拓其他重点平台上的入驻合作。</span>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree">
                            跨境电商
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <aside class="clients">
                            <div class="container">
                                <div class="row" style="margin-right:30px;">
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/alibaba.jpg" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/Amazon.png" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/CES-Asia-logo.jpg" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/CES-Logo.jpg" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="row" style="margin-right:30px;">
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/chinasourcingfair_Logo.jpg" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/hsn.jpg" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/Indiegogo_logo.png" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/kickstarter-logo-20010.png" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="row" style="margin-right:30px;">
                                    <div class="col-md-3 col-sm-6">
                                        <a href="#">
                                            <img src="~/img/Service/SellPlatform/qvc-logo.jpg" class="img-responsive logoStyle" alt="">
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </aside>
                        <p>
                            <span class="customerFont">
                                通过多年的国际主流消费电子展会推广、行业网站开发、国际媒体发布以及全球众筹平台战略合作等，国际销售部整合了1000+优质客户资源渠道，包括跨国零售商、品牌商、分销商、跨境电商、机场免税店和知名进口商等，他们遍布在北美，欧盟，英国，大洋洲，日本，韩国，中东等区域，行业涵盖了个人消费电子产品，创新类消费电子产品，手机和电脑周边配件产品以及智能产品等。对于每一款产品，我们均会安排对应的行业渠道推广，并充分向客户讲解产品的背景和市场需求，对产品的需求进行二次挖掘！
                            </span>
                        </p>
                        <p><span class="customerFont">产品主要合作、推广渠道：</span></p>
                        <ul>

                            <li><span class="customerFont">全球最大的消费电子展CES和CES Asia</span></li>
                            <li><span class="customerFont">全球最大的手机和配件电子展会 香港环球资源采购交易会（CSF）</span></li>
                            <li><span class="customerFont">全球最大的电子商务B2B Alibaba</span></li>
                            <li><span class="customerFont">全球最大的消费电子产品B2C平台 Amazon</span></li>
                            <li><span class="customerFont">全球TOP3众创平台INDIEGOGO和KICKSTARTERS</span></li>
                            <li><span class="customerFont">北美最大的电视购物渠道HSN和QVC</span></li>
                            <li><span class="customerFont">国际品牌商</span></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        //选中“服务”
        $('ul.nav > li:eq(2)').addClass('active');

        $('#zerodoor').carousel({
            interval: 2000,
            pause: 'cycle'
        });
        $('#longxiang').carousel({
            interval: 2500,
            pause: 'cycle'
        });
        $('#meicheng').carousel({
            interval: 2000,
            pause: 'cycle'
        });
        $('#jwkk').carousel({
            interval: 2500,
            pause: 'cycle'
        });
    });


</script>















