@{
    Layout = null;
}
@using MakerPlatform.Models;

<style>
    .ServiceContent-SaveBtn {
        width: 100px;
        height: 50px;
        float: right;
    }
</style>

<div>
    <form action="#" class="form-horizontal" role="form" >
        <hr />
        <div class="form-group">
            <label class="col-sm-2 control-label">服务类型：</label>
            <div class="col-sm-5">
                <select class="form-control" id="selServiceType" required>
                    <option selected="selected" value="">请选择服务类型</option>

                    @{
                        List<ServiceType> serviceTypes = (List<ServiceType>)ViewData["ServiceTypes"];
                        foreach (var serviceType in serviceTypes)
                        {
                            <option value="@serviceType.TypeCode">@serviceType.TypeName</option>
                                    
                        }
                    }
                </select>
            </div>
            <div class="col-sm-5">
                <button type="button" class="btn btn-warning ServiceContent-SaveBtn" id="btnSave">保存</button>

            </div>
          </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">服务模块：</label>
            <div class="col-sm-5">
                <select class="form-control" id="selServiceModule" required>
                    <option selected="selected" value="">请选择服务模块</option>

                </select>
            </div>
        </div>

        <div style="margin-bottom:50px;">
            <textarea id="ServiceModuleContent"></textarea>

        </div>
        <div class="form-group" style="margin-bottom:50px;">
            <div class="col-sm-offset-9 col-sm-3">
            </div>
        </div>
    </form>
</div>




<script src="~/ckfinder/ckfinder.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>

<script>

    var editor = CKEDITOR.instances["ServiceModuleContent"];
    if (editor) { editor.distory(true); }
    CKEDITOR.replace("ServiceModuleContent", {
        enterMode: CKEDITOR.ENTER_BR
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');

    $(document).ready(function () {

        InitServiceTypeSelect();
        InitServiceModuleSelect();
        InitAddButton();

    });

    function InitServiceTypeSelect()
    {
        $("#selServiceType").change(function () {

            //
            var typeCode = $("#selServiceType").val();
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/Service/GetServiceModuleByServiceType",
                data: { TypeCode: typeCode },
                async: false,
                success: function (datas) {

                    //清空原来ServiceModule的下拉选项
                    $("#selServiceModule").empty();
                    //ServiceModule重新赋值
                    $("#selServiceModule").append("<option value=''>请选择服务模块</option>");
                    for (var i = 0; i < datas.length; i++) {
                        $("#selServiceModule").append("<option value='" + datas[i].ModuleCode + "'>" + datas[i].ModuleName + "</option>");

                    }
                   
                }
            });
        });
    }

    function InitServiceModuleSelect()
    {
        $("#selServiceModule").change(function () {

            //
            var moduleCode = $("#selServiceModule").val();
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/Service/GetServiceModuleByModuleCode",
                data: { ModuleCode: moduleCode },
                async: false,
                success: function (data) {
                    if(data != null)
                    {
                        //把模块内容赋值到ckeditor
                       CKEDITOR.instances.ServiceModuleContent.setData(data.ModuleContent);

                    }

                }
            });
        });
    }

    function InitAddButton() {

        $("#btnSave").click(function (e) {

            var obj = GetSubmitValues();
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/Service/SaveServiceContent",
                data: obj,
                async: false,
                success: function (message) {
                    if (message.Success) {
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                        });
                    } else {
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                        });
                    }

                }
            });

        });
    }

    function GetSubmitValues() {
        var obj = {
            ServiceModuleCode: "",
            ServiceModuleContent:""
        };
        obj.ServiceModuleCode = $("#selServiceModule").val();
        obj.ServiceModuleContent = CKEDITOR.instances.ServiceModuleContent.getData(); 

        return obj;
    }
</script>