<div id="tutor-zlgh">
    <h3>战略规划</h3>
    <p>MarkdownPad supports multiple Markdown processing engines, including standard Markdown, Markdown Extra (with Table support) and GitHub Flavored Markdown.</p>
    <p>With a tabbed document interface, PDF export, a built-in image uploader, session management, spell check, auto-save, syntax highlighting and a built-in CSS management interface, there's no limit to what you can do with MarkdownPad.</p>
    
</div>
<div id="tutor-qyjl">
    <h3>企业教练</h3>
    <p>提供产品相关的认证检测</p>
    <p>提供项目可行性，成本，计划管理，风险管控等方面工作的指导</p>
    <p>MarkdownPad supports multiple Markdown processing engines, including standard Markdown, Markdown Extra (with Table support) and GitHub Flavored Markdown.</p>
    <p>With a tabbed document interface, PDF export, a built-in image uploader, session management, spell check, auto-save, syntax highlighting and a built-in CSS management interface, there's no limit to what you can do with MarkdownPad.</p>
    
</div>
<div id="tutor-gwpx">
    <h3>顾问培训</h3>
    <p>提供产品相关的外观、新型实用、发明专利申请的咨询辅导工作</p>
    <p>Fonts, color schemes, layouts and stylesheets are all 100% customizable so you can turn MarkdownPad into your perfect editor.</p>
    
</div>
<div id="tutor-cxy">
    <h3>产学研</h3>
    <p>提供功能样机组装服务</p>
    
</div>
<div id="tutor-xh">
    <h3>协会</h3>
    <p>MarkdownPad supports multiple Markdown processing engines, including standard Markdown, Markdown Extra (with Table support) and GitHub Flavored Markdown.</p>
    <p>With a tabbed document interface, PDF export, a built-in image uploader, session management, spell check, auto-save, syntax highlighting and a built-in CSS management interface, there's no limit to what you can do with MarkdownPad.</p>
    
</div>
<div id="tutor-rlzy">
    <h3>人力资源开发</h3>
    <p>MarkdownPad supports multiple Markdown processing engines, including standard Markdown, Markdown Extra (with Table support) and GitHub Flavored Markdown.</p>
    <p>With a tabbed document interface, PDF export, a built-in image uploader, session management, spell check, auto-save, syntax highlighting and a built-in CSS management interface, there's no limit to what you can do with MarkdownPad.</p>


</div>
<script>

    $(document).ready(function () {

        //重新加载js,下拉框才有用
        $.getScript("../Scripts/bootstrap.min.js");

    });


</script>