
<script src="~/ckeditor/ckeditor.js"></script>
<div class="row">
    <form>
        <div>
            <textarea id="test"></textarea>
        </div>
    </form>


</div>
<script>
    var editor = CKEDITOR.instances["TEST"];
    if (editor) { editor.distory(true); }
    CKEDITOR.replace("test", {
        enterMode:CKEDITOR.ENTER_BR
    });

</script>