<style>
    .nav-tabs > li {
        margin-bottom: -1px;
        clear: both;
        width: 100%;
    }
    #service-content > .container {
        width: 100%;
    }
</style>

<div class="row">

    <div class="col-md-3">
        <p class="lead">SERVICE</p>
        <ul class="nav nav-tabs" id="serviceTab">
            <li class="active"><a id="MarketPlatform" href="#service-content">市场平台</a></li>
            <li><a id="BrandPlatform" href="#service-content">品牌平台</a></li>
            <li><a id="SellPlatform" href="#service-content">销售平台</a></li>
            <li><a id="MakePlatform" href="#service-content">制造平台</a></li>
            <li><a id="ProjectPlatform" href="#service-content">工程平台</a></li>
            <li><a id="ProductPlatform" href="#service-content">产品平台</a></li>
            <li><a id="SupplyManagement" href="#service-content">供应链管理</a></li>
            <li><a id="TutorPlatform" href="#service-content">导师平台</a></li>
            <li><a id="FundPlatform" href="#service-content">资金平台</a></li>

        </ul>
    </div>

    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="service-content" style="width:100%"> </div>

        </div>

    </div>

</div>
<script>

    var current_nav = '@Request.QueryString["nav"]';

    $(document).ready(function () {
        
        var firstLoadUrl = "/Service/MarketPlatform";
        if(current_nav !="")
        {
            firstLoadUrl = "/Service/" + current_nav;
        }

        LoadTab(firstLoadUrl);
        $('#' + current_nav).tab('show');//初始化显示哪个tab

        $('#serviceTab a').click(function (e) {

            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
            //加载链接内容
            var aId = this.id;
            var tabUrl = "/Service/" + aId;
            LoadTab(tabUrl);


        })

    });

    function LoadTab(url) {
        $("#service-content").load(url, function () {
            //重新加载js,下拉框才有用
            $.getScript("../Scripts/bootstrap.min.js");
        });
    }

</script>