﻿
<style>
    .nav-tabs > li {
        margin-bottom: -1px;
        clear: both;
        width: 100%;
    }
</style>
<div class="container" id="manageTab">
    <div class="row">
        <div class="col-md-2">
            <p class="lead">系统管理</p>
            <ul class="nav nav-tabs list-nav" id="manageTab">
                <li class="active">
                    <a id="UserManage" href="#manage-content">用户管理</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <div class="tab-pane active" id="manage-content" style="width:100%"> 暂无功能</div>
            </div>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {

        $('#manageTab a:last').tab('show');//初始化显示哪个tab

        $('#manageTab a').click(function (e) {

            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content


        });

    });

</script>