
<style>
    .nav-tabs > li {
        margin-bottom: -1px;
        clear: both;
        width: 100%;
    }

    #manage-content > .container {
        width: 100%;
    }

</style>
<header>
    <div class="container">
        <div class="intro-text" style="padding-top:300px;padding-bottom:0px;">
            
        </div>
    </div>
</header>
<section >
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <p class="lead">系统管理</p>
                <ul class="nav nav-tabs list-nav" id="manageTab">
                    <li class="active">
                        <a id="ServiceManagement" href="#service-content">服务管理</a>
                    </li>
                    <li>
                        <a id="otherManagement" href="#service-content">其他管理</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="manage-content" style="width:100%"> </div>

                </div>

            </div>

        </div>
    </div>
</section>

<script>


    $(document).ready(function () {

        var firstLoadUrl = "/Service/ServiceManage";
        LoadTab(firstLoadUrl);
        $('#manageTab a:last').tab('show');//初始化显示哪个tab 

        $('#manageTab a').click(function (e) {

            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
            //加载链接内容
            var aId = this.id; 
            var tabUrl = "/Service/" + aId;
            LoadTab(tabUrl);


        });

    });

    function LoadTab(url) {
        $("#manage-content").load(url, function () {

        });
    }

</script>