body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*****鼠标移动到图片显示文字*****/
.image-box {
    display: block;
    position: relative;
    margin: 0 auto;
}

.image-box .image-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(85, 85, 85, 0.69);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.image-box .image-box-caption .image-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
.image-box .image-box-caption .image-box-caption-content .project-category,
.image-box .image-box-caption .image-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.image-box .image-box-caption .image-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.image-box .image-box-caption .image-box-caption-content .project-name {
    font-size: 18px;
}

.image-box:hover .image-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .image-box .image-box-caption .image-box-caption-content .project-category {
        font-size: 16px;
    }

    .image-box .image-box-caption .image-box-caption-content .project-name {
        font-size: 22px;
    }
}
/**********/