
@Html.Partial("_CommonHeader")

<section style="padding:100px;">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <a href="/Activity/ShowContent?nav=cxjsfw" style="color:black;">
                    <h3>创新加速服务—厦门科技局领导和英特尔众创加速器负责人莅临参观考察<sup style="color:red;font-style:italic;">new</sup></h3>
                </a>
            </div>
            <div class="col-md-2"><h3>2016-4-28</h3></></div>
            
        </div>
    </div>
</section>
<script>
    $(function () {
        //选中“活动”
        $('ul.nav > li:eq(3)').addClass('active');

    });
</script>












