@Html.Partial("_CommonHeader")

<section style="padding:100px;">

    <div class="container">
        <div class="row">
            <div class="tab-content">
                <div class="tab-pane" id="cxjsfw">
                    <h2 style="text-align: center;">
                        <span style="font-size:24px;">创新加速服务&mdash;厦门科技局领导和英特尔众创加速器负责人莅临参观考察</span>
                    </h2>
                    <br />
                    <span style="font-size: 20px;">
                        4月28日下午，厦门市科技局李波副局长一行莅临考察智能+创新创业公共服务平台，平台负责人毛连华先生做了详细介绍，并带领参观了平台的实验室、贴片室、手板室、视听<br />
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a1.png" style="width: 100%;" /><br />
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a2.png" style="width: 100%;" />
                    </span>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size: 18px;">
                            团队机器人为李波副局长送上香浓咖啡<br />
                            <br />
                            <img alt="" src="/ckfinder/UploadFiles/images/a3.png" style="width: 100%;" />
                        </span>
                    </div>
                    <div>
                        <br />
                        <span style="font-size:20px;">
                            &ldquo;大众创业、万众创新&rdquo;火热的背后，不仅是市场需求的持续发酵，也是政府重视、政策扶<br />
                            持的结果。<br />
                            <img alt="" src="/ckfinder/UploadFiles/images/a4.png" style="width: 100%;" /><br />
                            <br />
                            <img alt="" src="/ckfinder/UploadFiles/images/a5.png" style="width: 100%;" /><br />
                            <br />
                            李波副局长充分肯定了智能+创新创业公共服务平台，希望智能+创新创业公共服务平台能努力打造国内最高标准高新创客高地，为创客提供全流程、全资源要素资源服务。<br />
                            最后，李波副局长与杨云涛女士、毛连华先生共同交流创新创业新思路。
                        </span><br />
                        <span style="font-size:20px;">
                            <img alt="" src="/ckfinder/UploadFiles/images/a6.png" style="width: 100%;" /><br />
                            <br />
                            同日下午，英特尔众创加速器运营总监杨云涛莅临智能+创新创业公共服务平台考察参观。平台负责人毛连华先生及各孵化项目负责人热情接待。<br />
                            <br />
                            <img alt="" src="/ckfinder/UploadFiles/images/a7.png" style="width: 100%;" /><br />
                            <br />
                            <img alt="" src="/ckfinder/UploadFiles/images/a8.png" style="width: 100%;" />
                        </span><br />
                        &nbsp;
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size:18px;">团队机器人为杨云涛女士献花并送上香浓咖啡</span><br />
                        &nbsp;
                    </div>
                    <div>
                        <span style="font-size:20px;">毛连华先生向杨云涛女士介绍了智能+创新创业公共服务平台概况，详细介绍了平台战略定位、运营模式、发展规划及目前平台建设和项目进展情况，并陪同参观了智能+创新创业公共服务平台。</span><br />
                        <br />
                        <span style="font-size:20px;"><img alt="" src="/ckfinder/UploadFiles/images/a9.png" style="width: 100%;" /></span><br />
                        <br />
                        <br />
                        <span style="font-size:20px;"><img alt="" src="/ckfinder/UploadFiles/images/a10.png" style="width: 100%;" /></span><br />
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a11.png" style="width: 100%;" /><br />
                        &nbsp;
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size:18px;">智能+创新创业公共服务平台毛连华先生讲解</span>
                    </div>
                    <div>
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a12.png" style="width: 100%;" /><br />
                        <br />
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a13.png" style="width: 100%;" /><br />
                        <br />
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a14.png" style="width: 100%;" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士参观英特尔联合众创空间开放实验室和工作坊</span>
                    </div>
                    <div>
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a15.png" style="width: 100%;" /><br />
                        <br />
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a16.png" style="width: 100%;" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">贴片室，降低成本，为创客服务</span>
                    </div>
                    <div>
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a17.png" style="width: 100%;" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">创客团队研究英特尔套件</span>
                    </div>
                    <div>
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a18.png" style="width: 100%;" /><br />
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a19.png" style="width: 100%;" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士与毛连华先生及项目负责人合影</span>
                    </div>
                    <div>
                        <br />
                        <img alt="" src="/ckfinder/UploadFiles/images/a20.png" style="width: 100%;" />
                    </div>
                    <div style="text-align: center;">
                        <br />
                        <span style="font-size:18px;">杨云涛女士和创客团队合影</span><br />
                        &nbsp;
                    </div>
                    <div>
                        <img alt="" src="/ckfinder/UploadFiles/images/a21.png" style="width: 100%;" /><br />
                        <br />
                        <br />
                        <span style="font-size:20px;">厦门智能+创新创业公共服务平台由厦门产业技术研究院与英特尔、硅谷高创会、厦门市派美特科技有限公司等共建。平台定位于为各众创空间助力传统产业升级转型和创新创业团队的智能产品项目提供高效的转化支撑综合服务，可以在创新创业各阶段弥补他们的不足和短板并提高项目成功率。平台将创意、创新、创业、市场、资本、孵化和产业化相结合，进行嫁接磨合，快速低成本地验证创新创业产品的市场、完善制造技术（工程化）、管控供应链和成本、对接资本市场等，加速项目的市场化与产业化，同时也为各个众创空间、高校及孵化器、科研院所提供一个低门槛、低成本、专业化、全要素、全流程、开放式的智能产品和智能制造协同创新一站式服务平台。</span><br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        &nbsp;
                    </div>


                </div>
                <div class="tab-pane" id="messages">...</div>
                <div class="tab-pane" id="settings">...</div>
            </div> 
        </div>
    </div>
</section>

<script>
    var current_nav = '@Request.QueryString["nav"]';
    $(function () {
        if(current_nav != null && current_nav != "")
        {
            $("#" + current_nav).addClass('active');

        }
        //选中“活动”
        $('ul.nav > li:eq(3)').addClass('active');
    })
</script>












