@Html.Partial("_CommonHeader")

<section style="padding:100px;">

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <a href="/Information/ShowContent?nav=zxqyhd" style="color:black;">
                    <h3>关于举办2016厦门市中小企业服务月系列活动之“中小企业如何借助双创实现产业升级”培训论坛的通知
                    <sup style="color:red;font-style:italic;">new</sup></h3>
                </a>
            </div>
            <div class="col-md-2"><h3>2016-4-20</h3></></div>

        </div>
    </div>
</section>
<script>
    $(function () {
        //选中“资讯”
        $('ul.nav > li:eq(4)').addClass('active');

    });
</script>











