@Html.Partial("_CommonHeader")

<section style="padding:100px;">

    <div class="container">
        <div class="row">
            <div class="tab-content">
                <div class="tab-pane" id="zxqyhd">
                    <div style="text-align: center;">
                        <span style="font-size:20px;">
                            <span style="font-size:24px;">
                                <strong>关于举办</strong><strong>2016</strong><strong>厦门市中小企业服务月系列活动之</strong><br />
                                <strong>&ldquo;中小企业如何借助双创实现产业升级&rdquo;培训论坛</strong><strong>的通知</strong>
                            </span>
                        </span>
                    </div>
                    <span style="font-size:20px;">
                        &nbsp;<br />
                        围绕&ldquo;服务中小企 创新赢未来&rdquo;这一主题，根据2016年中小企业服务月活动安排，开展&ldquo;中小企业如何借助双创实现产业升级&rdquo;，助力中小微企业产业升级和产学研用协同创新，现将相关事项通知如下：<br />
                        &nbsp;&nbsp;&nbsp; <strong>一、主承办单位</strong><br />
                        &nbsp;&nbsp;&nbsp; 主办单位：厦门市经济与信息化局、厦门市科学技术局、厦门市财政局<br />
                        &nbsp;&nbsp;&nbsp; 承办单位：厦门市中小企业服务中心、厦门中小在线、厦门市中小企业服务行业协会、厦门市众创空间产业协会、厦门市派美特科技有限公司<br />
                        &nbsp;&nbsp;&nbsp; 协办单位：厦门产业技术研究院、英特尔众创空间加速器、厦门工业设计协会<br />
                        &nbsp;&nbsp;&nbsp; <strong>二、时</strong>
                    </span><strong><span style="font-size: 20px;">点</span></strong><span style="font-size:20px;">
                        <strong>间与地</strong><br />
                        &nbsp;&nbsp;&nbsp; 时间：2016年5月20日（星期五）下午 14:30~17:30（14:00开始签到）<br />
                        &nbsp;&nbsp;&nbsp; 地点：厦门市集美区集美大道1300号厦门产业技术研究院创新大厦25楼<br />
                        &nbsp;&nbsp;&nbsp; <strong>三、参加对象</strong><br />
                        &nbsp;&nbsp;&nbsp; 我市中小微企业相关从业人员、创客团队、众创空间从业人员，共计200人。<br />
                        &nbsp;&nbsp;&nbsp; <strong>四、活动内容</strong><br />
                        &nbsp;&nbsp;&nbsp; 1、英特尔Intel&ldquo;创客爆米花&rdquo;计划厦门启动仪式
                    </span><br />
                    <span style="font-size: 20px;">&nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">嘉宾：李德胜，英特尔（中国）有限公司战略合作与创新业务部中国区总经理、众创</span><span style="font-size: 20px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">空间加速器中国区负责人。</span><br />
                    <span style="font-size: 20px;">&nbsp; &nbsp;&nbsp;</span><span style="font-size:20px;">
                        2、李德胜总经理主题演讲<br />
                        &nbsp; &nbsp; 题目：创客是英特尔创新合作伙伴<br />
                        &nbsp; &nbsp; 内容：英特尔众创空间加速器在中国的布局，英特尔众创空间如何对创客支持。<br />
                        &nbsp; &nbsp; 3、陈德胜主题演讲<br />
                        &nbsp; &nbsp; 内容：小微企业的创新思维与价值定位<br />
                        &nbsp; &nbsp; 嘉宾：陈德胜，台湾人，目前担任卓玉设计Xcellent Products International创意总监，从事电脑相关、生活家居产品、3C产品、家具及电动脚踏车设计。2004年独创〝产品价值识别Product VALUE Identity〞的系统，以Variation，Aesthetics，Lifestyle，Utility，Economics定义产品的开发价值。Ader Chair创始人，Ader Chair获美国IDEA Final list，是两岸人体工学椅第一位获得者。<br />
                        &nbsp; &nbsp; 4、毛连华主题演讲<br />
                        &nbsp; &nbsp;内容：中小微企业如何借助双创实现产业升级<br />
                        &nbsp; &nbsp;嘉宾：毛连华，厦门大学MBA，曾任职于福州大学厦门工艺美术学院工业设计系；从事近30年塑料成型、模具、结构件和电子件生产制造的技术和运营管理工作；资深创客；1994年创业，现任华尔达（厦门）塑胶有限公司董事长、厦门市派美特科技有限公司董事长、派美特众创空间和英特尔联合众创空间创始人、厦门市众创空间产业协会副会长。<br />
                        &nbsp; &nbsp;<strong>五、报名方式</strong><br />
                        &nbsp; &nbsp;1、请登录中小在线&ldquo;慧企云&rdquo;培训平台（px.xmsme.gov.cn）报名，首次报名人员请先注册账号，学员请实名注册，不得冒名顶替。<br />
                        &nbsp; &nbsp;2、请学员携带&ldquo;名片&rdquo;参加论坛，学员通过微信在签到处&ldquo;扫描二维码&rdquo;现场签到。<br />
                        &nbsp; &nbsp;3、联系方式：厦门市派美科技有限公司 孙艳娇，电话：15222751876<br />
                        &nbsp;
                    </span>
                    <div style="text-align: right;">
                        <span style="font-size:20px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 厦门市派美特科技有限公司<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2016年4月20日
                        </span>
                    </div>


                </div>
                <div class="tab-pane" id="messages">...</div>
                <div class="tab-pane" id="settings">...</div>
            </div>
        </div>
    </div>
</section>

<script>
    var current_nav = '@Request.QueryString["nav"]';
    $(function () {
        if(current_nav != null && current_nav != "")
        {
            $("#" + current_nav).addClass('active');

        }
        //选中“资讯”
        $('ul.nav > li:eq(4)').addClass('active');
    })
</script>












